.searchBarContainer {
    background-color:#d2bcae;
    padding-bottom: 30px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)) , url('background.png');
}

.searchInput {
    width: 500px;
    margin-right: 20px;
    margin-left: 20px;
    height: 40px;
    border-radius: 7px;
    border: 2px solid #854c41;
    padding-left: 15px;
} 

/* .searchInput::placeholder {
    padding-left: 15px;
  }
 */

header.searchBarHeader {
    border-bottom: 3px solid #854c41;
    padding-bottom: 5px !important;
    margin-bottom: 1rem;
}

.buttonContainer {
    display: flex;
    justify-content: center;
}

.buttonContainer button {
    background-color: #244857;
    border-color: #244857;
}

.buttonContainer button:hover {
    background-color: #244857;
    border-color: #244857;
    opacity: 90%;
}

.sortByOption {
    cursor: pointer;
    color: white !important;
}

.sortByOption.active {
    background-color: #9b5a43 !important;
}

.sortByOption:hover {
   opacity: 75% !important;
}