html {
    font-size: 18px;
}

html, body {
    margin: 0;
    min-height:100%;
}

body {
    height:100vh;
}

input:focus {
    outline: none;
}

h1 {
    padding: 0.66rem 0;
    text-align: center;
    background-color: #244857;
    color: #fff !important;
    margin: 0 !important;
}

.ravenousContainer {
    background-color: #fbe9d1;;
    font-family: Questrial;
}

.noResults {
    height: 100vh;
}
