.backToTopContainer {
    position: sticky;
    bottom: 0px;
    display: flex;
    justify-content: right;
}

.backToTopContainer button {
    bottom: 2rem;
    right: 2rem;
    position: absolute;
    background-color: #244857 !important;
    border-color: #244857;
    font-size: 1.6rem;
}

.backToTopContainer button:hover, .backToTopContainer button:active{
    border-color: #244857 !important;
}

.backToTopContainer button:hover {
    opacity: 90%;
}

.backToTopContainer .hideButton {
    display: none !important;
}
